<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799702313399-gqrjulnotv3pepdm49608d5rh31h73lv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799702313399-gqrjulnotv3pepdm49608d5rh31h73lv</string>
	<key>API_KEY</key>
	<string>AIzaSyDpc_M48vfPBb32ubgVl9cWkf_Wk4o6Noc</string>
	<key>GCM_SENDER_ID</key>
	<string>799702313399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitnessKing</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-b4f1b</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-b4f1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799702313399:ios:5397ed20d3d81a899e6032</string>
</dict>
</plist>